
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.15rem;
    --cor-bg: #F9F7F7;
    --cor-links: #FFB000 ;
    --cor-text: #F9F7F7;
    --cor-marker: #171717;
    --cor-hover: #AF1818;
    transition: 0.5s ease-in-out;

}

h3{
    color: var(--cor-hover);
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1.5rem;
}

h4{
    color: var(--cor-marker);
    text-align: center;
    margin-bottom: 0.8em;
    margin-left: 1rem;
    margin-right: 1.5rem;
}
.logo{
    width: 130px;
}
#h2home{
    color: var(--cor-marker);
}

#logginbuutton{
    background-color: var(--cor-hover);
    margin: 4px auto;
    padding: 8px 12px;
    color: var(--cor-marker);
    border: solid  var(--cor-marker);
    border-radius: 15px;
    font-size: 19px;
    transition: 0.5s ease-in-out;
}

#logginbuutton:hover{
    background-color: var(--cor-links);
    margin: 6px auto;
    cursor: pointer;
    padding: 12px 16px;
    transition: 0.5s ease-in-out;
}


.pro{
    border: solid 4px var(--cor-marker);
    border-radius: 20px;
    margin-bottom: 1rem;
    margin-left: 30vw;
    margin-right: 30vw;
}

#nomepix{
    background-color: #AF1818;
    margin: 0;
    border-radius: 14px 14px 0 0;
}

#inputmessage{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 8px;
}

#produtonome{
    margin-top: 20px;
    margin-bottom: 0;
}

#valor{
    margin-top: 6px;
}

/* desktop */
@media (max-width:1440px){
    #logginbuutton{
        font-size: 36px;
        margin-top: -1.8rem;
    }
}

/* laptop */
@media (max-width:1024px){

    #logginbuutton{
        font-size: 29px;
        margin-top: -1.8rem;
    }
}

/* tablet */
@media (max-width:768px){

    #logginbuutton{
        font-size: 29px;
        margin-top: 0.3rem;
    }
}

/* mobile big */
@media (max-width:767px){
        /* conta pagina */
        #logginbuutton{
            font-size: 16px;
            margin-top: 0;
        }
        .barrinha{
            margin-left: -1rem;
        }
    
        #nomepix{
            font-size: 15px;
            padding: 0.4rem;
        }
    
        #valor, #mensagem{
            font-size: 18px;
            padding-top: 0.4rem;
        }
        .descprodh4h3{
            margin-left: 0.8rem;
        }    
        .pro{
            width: 13.8rem;
            margin-left: 6rem;
        }
}

/* mobile medium */
@media (max-width:375px){
        /* conta pagina */
        #logginbuutton{
            font-size: 16px;
            margin-top: 0;
        }
        .barrinha{
            margin-left: -1rem;
        }
    
        #nomepix{
            font-size: 15px;
            padding: 0.4rem;
        }
    
        #valor, #mensagem{
            font-size: 18px;
            padding-top: 0.4rem;
        }
    
    
        .pro{
            width: 13.8rem;
            margin-left: 4.5rem;
        }
}

/* mobile litle */
@media (max-width:320px){
    /* conta pagina */
    #logginbuutton{
        font-size: 16px;
        margin-top: 0;
    }
    .barrinha{
        margin-left: -1rem;
    }

    #nomepix{
        font-size: 15px;
        padding: 0.4rem;
    }

    #valor, #mensagem{
        font-size: 18px;
        padding-top: 0.4rem;
    }


    .pro{
        width: 13.8rem;
        margin-left: 2.6rem;
    }
}

/* mobile litle zflip */
@media (max-width:280px){
        /* conta pagina */
        #logginbuutton{
            font-size: 14px;
            margin-top: 0;
        }
        
        .barrinha{
            margin-left: 0;
        }
    
        #nomepix{
            font-size: 15px;
            padding: 0.4rem;
        }
    
        #valor, #mensagem{
            font-size: 18px;
            padding-top: 0.4rem;
        }
    
    
        .pro{
            width: 13.8rem;
            margin-left: 1.5rem;
        }    
}
